body{
    margin: 0;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "Gill Sans", sans-serif;
}

#logo{
    font-size: 3em;
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
}

#header{
    background-color:cyan;
    padding: 0.3em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

#main{
    margin-top: 60px;
}

.navbutton{
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
}

#header{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: space-evenly;
}

#account{
    display: flex;
    justify-content: space-evenly;
}

#slideshow{
    width: 100%;
    height: 800px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 0 ;

}

.slidestext {
    color: #f2f2f2;
    font-size: 60px;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#contact{
    border-radius: 0.25em;
    width: 35%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 ;
    background-color:#ebcc34;
    backdrop-filter: blur(2rem);
    margin-bottom: 10px;
}

#visimisi{
    border-radius: 0.25em;
    width: 65%;
    padding-left: 10px;
    box-shadow: 0 0 5px 0 ;
    backdrop-filter: blur(2rem);
    margin-bottom: 10px;
    background-color:olivedrab;
    margin-right: 10px;



}

#info{
    display: flex;
}

.icon{
    margin-right: 5px;
}

.visimisitext{
    font-size: 20px;
}

.slides {
    height: 800px;

    display: none;
}

.slides>img{
    height: 100%;
    object-fit: cover;
}

#home1{
    width: 100%;
    height: 350px; 
    background-color:  rgba(102, 153, 255, 0.8);
    backdrop-filter: blur(2rem);
}
.header1{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 72px;
    margin: 0;
}
.header1Content{
    color: white;
    font-size: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}
.header1Content1{
    color: white;
    font-size: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}
#home2{
    width: 100%;
    height: 425px; 
}
#home3{
    width: 100%;
    height: 250px;
    background-color: orange;
}
#startBtn{
    display: none;
    justify-content: center;
}

#startBtnSignIn{
    display: flex;
    justify-content: center;
}

#Btn{
    width: 255px;
    height: 64px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: lightgreen;
}

.indextext{
    display: flex;
    justify-content: center;
    margin-bottom: 0.1em;
}

#testimoni{
    background-color: white;
    height: 600px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#community{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    font-size: 60px;
}

.person{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imageperson{
    max-width:70%;
    max-height:100%;
    object-fit: cover;
    border-radius: 1em;

}

.testitext{
    width: 50%;
    text-align: center;
}

.people{
    display: flex;
    justify-content: space-between;
}

/*SignIn*/

.JudulForm{
    display: grid;
    justify-content: center;
    color: white;
    font-size: 60px;
}

#kotakForm{
    display: grid;
    justify-content: center;
    background-color: orange;
    width: 50%;
    height: 25%;
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 10px;
    margin-bottom: 30px;
}


#butSignIn{
    width: 255px;
    height: 64px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: lightgreen;
}

#role{
    width: 117px;
    margin-bottom: 20px;
}

#isiform{
    width: 400px;
}

#centang1, #centang0 , #centang2{
    height: 100%;
    object-fit: cover;
    display: none;
    margin-left: 10px;
}

.flexform{
    display: flex;
    margin: 10px;
    height: 30px;
}

.registerinput{
    width: 100%;
}

#tabel_admin{
    display: flex;
    ;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #ebcc34;
    padding: 10px;
}

#tabel_admin td{
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
}

#tabel_admin th{
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
}

#isi_admin{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#judul_admin{
    margin:10px;
    display: flex;
    color: #f2f2f2;
}