body{
    margin: 0;
    background-color: #050a30;
    background-image: linear-gradient(160deg, #050a30 0%, #1389d2 100%);
    background-size: cover;
    font-family: "Gill Sans", sans-serif;
}

#logo{
    font-size: 3em;
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
}

#logo:hover{
    color:orange;
}

.gradien{
    background-color: #050a30;
    background-image: linear-gradient(160deg, #050a30 0%, #1389d2 100%);
}

#header{
    background-color:#7EC8E3;
    padding: 0.3em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

#main{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbutton{
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
    /* text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 15px; */
}

.navbutton:hover{
    color: orange;
}

#header{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: space-evenly;
}

#account{
    display: flex;
    justify-content: space-evenly;
}

#slideshow{
    width: 100%;
    height: 800px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 0 ;

}

.slidestext {
    color: #f2f2f2;
    font-size: 60px;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#contact{
    border-radius: 0.25em;
    width: 35%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 ;
    background-color:#ebcc34;
    backdrop-filter: blur(2rem);
    margin-bottom: 10px;
}

#visimisi{
    border-radius: 0.25em;
    width: 65%;
    padding-left: 10px;
    box-shadow: 0 0 5px 0 ;
    backdrop-filter: blur(2rem);
    margin-bottom: 10px;
    background-color:olivedrab;
    margin-right: 10px;



}

#info{
    display: flex;
}

.icon{
    margin-right: 5px;
}

.visimisitext{
    font-size: 20px;
}

.slides {
    height: 800px;

    display: none;
}

.slides>img{
    height: 100%;
    object-fit: cover;
}

#home1{
    width: 100%;
    height: 350px; 
    background-color:  rgba(102, 153, 255, 0.8);
    backdrop-filter: blur(2rem);
}
.header1{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 72px;
    margin: 0;
}
.header1Content{
    color: white;
    font-size: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}
.header1Content1{
    color: white;
    font-size: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}
#home2{
    width: 100%;
    height: 425px; 
}
#home3{
    width: 100%;
    height: 250px;
    background-color: orange;
    padding-top: 55px;
}
#startBtn{
    display: none;
    justify-content: center;
}

#startBtn1{
    display: flex;
    justify-content: center;
}

#startBtnSignIn{
    display: flex;
    justify-content: center;
}

#Btn{
    width: 255px;
    height: 64px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: lightgreen;
}

.indextext{
    display: flex;
    justify-content: center;
    margin-bottom: 0.1em;
}

#testimoni{
    background-color: white;
    height: 600px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#community{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    font-size: 60px;
}

.person{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imageperson{
    max-width:70%;
    max-height:100%;
    object-fit: cover;
    border-radius: 1em;

}

.testitext{
    width: 50%;
    text-align: center;
}

.people{
    display: flex;
    justify-content: space-between;
}

/*SignIn*/

.tombolBack{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 15px;
}

.JudulForm{
    display: grid;
    justify-content: center;
    color: white;
    font-size: 60px;
}

#kotakForm{
    display: grid;
    justify-content: center;
    background-color: orange;
    width: 50%;
    height: 45%;
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 10px;
    margin-bottom: 30px;
}


#butSignIn{
    width: 255px;
    height: 64px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: lightgreen;
}

#role{
    width: 117px;
    margin-bottom: 20px;
}

#isiform{
    width: 400px;
}

#isieditform{
    width: 600px;
}

#centang1, #centang0 , #centang2{
    height: 100%;
    object-fit: cover;
    display: none;
    margin-left: 10px;
}

.flexform{
    padding: 5px;
    margin: 10px;
    height: 45px;
}

.flexform input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.registerinput{
    width: 100%;
}

#tabel_admin{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #ebcc34;
    padding: 10px;
}

#tabel_admin td{
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
}

#tabel_admin th{
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
}

#isi_admin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#judul_admin{
    margin:10px;
    display: flex;
    color: #f2f2f2;
}

/*
--------------
PROFILE MEMBER
--------------
*/

#kotakProfile{
    background-color: orange;
    color: white;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    margin-top: 10%;    
    padding-bottom: 20px;
}

#kotakProfile p{
    color: black;
    font-size: 20px;
}

.btnProfile{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 3px;
}

#myCourse{
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;

    color: black;

}

#myCourse td{
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.editProfileForm{
    display: grid;
    grid-template-columns: 30% 60% 10%;  
    grid-template-rows: 40px;  
    align-items: center;
    margin: 20px;  
}

.btnCancel{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 3px;
    height: 50px;
    width: 100px;

}

#saveProfile{
    display: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 3px;
    height: 50px;
    width: 100px;
}

.deleteBtn{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 3px;
    height: 30px;
    width: 120px;
    border: 1px solid black;
    padding: 10px;
    float: right;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}

/*WALLET*/
#kotakWalletStatus{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    display: flex;
    justify-content: center;

    margin-top: 30px;    
    align-items: center;
}

#kotakWalletPayment{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 30px;    
    align-items: center;
}

#pilihanPembayaran{
    width: 250px;
}
#nominalPembayaran{
    width: 250px;
}
#payBtn{
    margin-left: 150px;
    width: 100px;
    height: 30px;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
}

.paymentMethod{
    display: grid;
    align-items: center;
    grid-template-columns: 20% 60%;
}

/*-------------
My Courses
--------------*/


#JudulTeacher{
    color: white;
    margin: 15px;
    margin-top: 100px;
}

#kotakCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;

}

.soft-shadow{
    box-shadow: 0px 15px 41px 0px rgba(112,144,176,0.19);
    -webkit-box-shadow: 0px 15px 41px 0px rgba(112,144,176,0.19);
    -moz-box-shadow: 0px 15px 41px 0px rgba(112,144,176,0.19);
}

.courses{
    background-color: white;
    border-radius: 1em;
    padding: 10px;
}

.courses p{
    text-align: justify;
}

.courses a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
}

#addCoursesTeacherBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
    float: right;
}

#addCourseTeacher{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 20px;
    margin-top: 80px;    
    align-items: center;
}

.addCourseInput{
    width: 500px;
}

#addCourseTeacherForm{
    width: 85%;
}

.addBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
}
/*-------------
add Module
--------------*/
#addModule{
    color: white;
}
#kotak_addModule{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 20px;
    margin-top: 30px;    
    align-items: center;
}
.addModuleForm{
    margin-left: 20px;
    color: black;
}
#judulModul{
    width: 500px;
}
#uploadModuleBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
}
#addExamBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
}
/*-------------
add Exam
--------------*/
#addExam{
    color: white;
}
#kotak_addExam{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 20px;
    margin-top: 30px;    
    align-items: center;
}
.addExamForm{
    margin-left: 20px;
    color: black;
}
#question{
    width: 500px;
}
#uploadExamBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
}
#addQuestionBtn{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    margin: 20px;
}
#option{
    margin-left: 20px;
    color: black;
}
.optionContent{
    width: 500px;
    height: 30px;
}


#addCourseTeacherM{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 20px;
    margin-top: 80px;    
    align-items: center;
}

#addCourseTeacherE{
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 20px;
    margin-top: 80px;    
    align-items: center;
}

#orderSummary{
    background-color: orange;
    color: black;
    width: 60%;
    border-radius: 15px;
    margin-left: 20%;
    padding: 20px;
    margin-top: 80px;    
}

#seeCourse{
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    margin-top: 8%
}

#attemptExamBtn{
    background-color: lightgreen;
    border: none;
    text-decoration: none;
    padding: 20px 20px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 15px;
}

#hasilNilai{
    background-color: orange;
    color:black;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
    padding: 30px;
    font-size: 30px;
}

#hasilNilai h1{
    font-size: 100px;
}

#judulExam{
    color: white;
    margin: 80px;
}

#lulus{
    padding: 5px;
    background-color: lightgreen;
    display: none;
    border-radius: 10px;
}

#galulus{
    padding: 5px;
    background-color: red;
    display: none;
    border-radius: 10px;

}

#paginationBtn{
    display: flex;
    margin: 25px;
}

#paginationBtn form{
    margin: 10px;
}

.courseBtn{
    background-color:lightgreen;
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}