body{
    margin: 0;
}

#logo{
    font-size: 3em;
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
}

#header{
    background-color:cyan;
    padding: 0.3em;
}

.navbutton{
    text-decoration: none;
    color: blueviolet;
    font-family: "Gill Sans", sans-serif;
}

#header{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: space-evenly;
}

#account{
    display: flex;
    justify-content: space-evenly;
}

#logosearch{
    color: blueviolet;
}

